html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
  text-decoration: none;
}



/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 15px;
  font-family: "Hind", sans-serif;
  color: #25283D;
  background-color: #ECF0F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #25283D;
  text-decoration: none;
}

.container {
  padding-top: 60px;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #19284a;
}

.cd-auto-hide-header .logo{
  position: absolute;
  top: 30%;
  left: 5%;
  text-decoration: underline overline;
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: white;
  font-size: 1.4rem;
  border-top: 1px solid #f2f2f2;
}
.logo > a:hover, a:hover, .cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: orange;
}
@media only screen and (min-width: 800px) {
  .cd-primary-nav {
    display: table;
  }
  .cd-primary-nav > ul {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    height: auto;
    padding: 0;
    border: none;
  }
}

.dropdown-menu {
  min-width: 1px;
}
.dropdown-menu>li>a {
  color: black;
  margin: 10px;
}
.open>.dropdown-menu {
  left:auto;
  right:0;
}


/* -------------------------------- 

Main content

-------------------------------- */
.main-content {
  overflow: hidden;
}

.main-content p {
  max-width: 1024px;
  line-height: 1.6;
  margin: 1em auto;
  font-family: "Hind", sans-serif;
  color: black;
}


/* ///////////////////////////////////////////////////////////////////sidebar */
.nav-sidebar { 
    width: 200px;
    height: 700px;
    padding: 30px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 0;
    background-color: white;
}

.nav>li>a.inner {
  text-align: left;
  text-decoration: underline;
  font-size: 12px;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a {
    background-color: #CB4042; 
    color: #fff;
    border-radius: 10px;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #CB4042;
  color: #fff;
  border-radius: 10px;
}

.tab-content {
  margin-left: 250px;
}

.well {
  background-color: white;
}

/* navbar */
.logo {
  font-size: 30px;
  font-family: "Hind", sans-serif;
  color: #25283D;
}

button.navbar-toggle, button.navbar-toggle.collapsed {
  float: left;
  margin-left: 30px;
}

/* 検索ボックス */

li.searchbox{
  width: 300px;
  position:relative;
  background-color:#4b5772;
  border-radius:40px;
  text-align: center;
}
li.searchform{
  width:70%;
  height:24px;
}
input#q_name_cont {
  background-color:#4b5772;
  border: none;
  color: white;
}

.search-btn{
  background:transparent;
  height:30px;
  line-height:20px;
  border:none;
  color: white;
  font-size: 14px;
}

.search-btn:hover {
  background:transparent;
}

/* toppage */
body {
  background-color: #EFEFEF;
}

.top {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
}
.top_video {
  position: absolute;
  top: 300px;
  left: 50%;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top_info {
  z-index: 1000;
  font-size: 50px;
  color: white;
  margin-top: 200px;
}

.login-panel {
  z-index: 2000;
  margin-top: 200px;
}

.top2 {
  width: 100%;
  height: 500px;
  font-size: 50px;
  text-align: center;
}

/* user */
.user {
  min-width: 100%;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  background-color: white;
  padding: 40px;
  padding-bottom: 0px;
}

.user-left {
  display: inline-block;
  width: 180px;
  margin: 0;
  float: left;
}

.user-right {
  display: inline-block;
  width: 80%;
  height: 150px;
  margin-left: 20px;
  font-size: 17px;
  word-break: break-all;
  
}

.user-name {
  font-size: 30px;
  margin-right: 20px;
}
.user-id {
  font-size: 20px;
  color: gray;
}

.user-link {
  padding-left: 10px;
  margin-top: 35px;
}

.edit-profile-btn {
  border: solid 1px black;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
}

.counter-box {
  padding: 5px 10px;
  font-size: 15px;
  color: gray;
}
.counter, .counter {
  padding-top: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-top: solid 1px gray;
}

.user_panel {
  height: 160px;
}

.follow_button {
  margin-left: 30px;
}

.profile {
  height: 160px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.info-panel, .media {
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
}

.media-body {
  word-break: break-all;
}

.user-id-link {
  margin-left: 10px;
}

.btn-unfollow, .btn-follow, .btn-unjoin, .btn-join {
  width: 120px;
  height: 30px;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}
.btn-follow, .btn-join {
  background-color: transparent;
  border: solid 1px black;
  color: black;
}
.btn-unfollow, .btn-unjoin {
  background-color: #CB4042;
}
.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  margin-top: 20px;
  border-top: solid 1px lightgray;
}

.review-title, .event-title {
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.post-date {
  color: gray;
  font-size: 13px;
}

div.form_group {
  padding-bottom: 20px;
}

.btn-block, .btn-default {
  border-radius: 10px;
}

.modal-body {
  padding: 30px;
}

div.user-prof {
  padding-left: 10px;
  padding-top: 20px;
}

div.panel-header {
  padding-top: 20px;
}

.panel-body {
  padding: 25px;
}

h5 {
  padding-top: 20px;
  font-size: 30px;
}

.comment-count {
  color: gray;
}

.logo > a {
  color: white;
}


select {
  font-size: 12px;
}